flows.json
[{"id":"21197ab8.4d52c6","type":"tab","label":"HI Cost prediction project","disabled":false,"info":""},{"id":"9ed6edcb.9041b","type":"ui_form","z":"21197ab8.4d52c6","name":"","label":"","group":"8e58286.aca2fd8","order":1,"width":0,"height":0,"options":[{"label":"Age","value":"ag","type":"number","required":true,"rows":null},{"label":"Gender","value":"sx","type":"text","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Children","value":"ch","type":"number","required":true,"rows":null},{"label":"Smoker","value":"sm","type":"text","required":true,"rows":null},{"label":"Region","value":"rg","type":"text","required":true,"rows":null}],"formValue":{"ag":"","sx":"","bmi":"","ch":"","sm":"","rg":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":220,"wires":[["885f9cca.d352d","a49c4564.85e1b8"]]},{"id":"885f9cca.d352d","type":"debug","z":"21197ab8.4d52c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":300,"wires":[]},{"id":"a49c4564.85e1b8","type":"function","z":"21197ab8.4d52c6","name":"pre-token","func":"global.set(\"ag\",msg.payload.ag)\nglobal.set(\"sx\",msg.payload.sx)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ch\",msg.payload.ch)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"rg\",msg.payload.rg)\nvar apikey=\"h1e93on1hcjm6BFWovVXd-NqbHDl2tFEUTiP8-aQ7zpT\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":160,"wires":[["432218e0.808c58"]]},{"id":"432218e0.808c58","type":"http request","z":"21197ab8.4d52c6","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":412.00000381469727,"y":204.00000286102295,"wires":[["cbd7d859.081478","4daad19.5978f3"]]},{"id":"cbd7d859.081478","type":"debug","z":"21197ab8.4d52c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":260,"wires":[]},{"id":"4daad19.5978f3","type":"function","z":"21197ab8.4d52c6","name":"Pre Prediction","func":"var ag = global.get(\"ag\")\nvar sx = global.get(\"sx\")\nvar bmi = global.get(\"bmi\")\nvar ch = global.get(\"ch\")\nvar sm = global.get(\"sm\")\nvar rg = global.get(\"rg\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Age\", \"Gender\", \"BMI\", \"Children\",\"Smoker\",\"Region\"]],\"values\": [[ag,sx,bmi,ch,sm,rg]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":604.0000076293945,"y":156.0000021457672,"wires":[["66912953.d1e5f8"]]},{"id":"66912953.d1e5f8","type":"http request","z":"21197ab8.4d52c6","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/ca4620cc-04cb-49ba-a8a9-e8f96c92165e/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":200,"wires":[["8e571fd8.aafe3","b42674f6.1d7948"]]},{"id":"8e571fd8.aafe3","type":"debug","z":"21197ab8.4d52c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":982.9999914169312,"y":264.00000381469727,"wires":[]},{"id":"9bbac2e7.5d459","type":"inject","z":"21197ab8.4d52c6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":60,"wires":[["a49c4564.85e1b8"]]},{"id":"55741e81.de1eb","type":"debug","z":"21197ab8.4d52c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":813.9999885559082,"y":47.0000057220459,"wires":[]},{"id":"b42674f6.1d7948","type":"function","z":"21197ab8.4d52c6","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":659.6000595092773,"y":88.00000190734863,"wires":[["55741e81.de1eb","8d57eed8.7e906"]]},{"id":"8d57eed8.7e906","type":"ui_text","z":"21197ab8.4d52c6","group":"8e58286.aca2fd8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":777.6000366210938,"y":321.20001220703125,"wires":[]},{"id":"8e58286.aca2fd8","type":"ui_group","z":"","name":"New","tab":"73a4dea6.3844c","order":1,"disp":true,"width":"6","collapse":false},{"id":"73a4dea6.3844c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]